{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/estilo.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-te-1.4.0.css') }}"/>
{% endblock %}

{% block body %}    
    <div class="col-lg-6 box-form">
    <h1>New post</h1>
            {{form_start(form)}}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.create_date) }}
                {{ form_row(form.tags) }}
            {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset("assets/js/bootstrap-tagsinput.min.js")}}"></script>
    <script src="{{asset("assets/js/jquery-te-1.4.0.min.js")}}"></script>
    <script>
        $("textarea").jqte();
    </script>
    {%endblock%}
